<!DOCTYPE html>
<html lang="en">
<head>
    <title>Multer-File-Upload-Boilerplate</title>
</head>
<body>
    <h1> Aditya's sad </h1> 

    <h3>{{status}}</h3>
    <h3>{{filename}}</h3>

    <form action="/upload" enctype="multipart/form-data" method="POST">
        <input type="file" name="myFile" id="myFile" required />
        <input type="submit" value="Upload" />
    </form>
</body>
</html> 